@media (max-width:992px ) {


  .cart_items  {
    flex-direction: column;
  }

}

@media (max-width:768px ) {

  .cart_items  {
    flex-direction: column;
  }

}

@media (max-width:576px ) {


  .cart_items {
    flex-direction: column;
  }
}



