@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1, h2, h3 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #6f7173;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.content-header {
  height: 90px;
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-header ul li {
  display: inline;
}
.content-header ul li:not(:last-child) {
  padding: 0 20px;
}
.content-header ul li a {
  text-decoration: none;
  color: #6f7173;
  font-family: "open sans", sans-serif;
  padding: 31px 0;
  border-bottom: 4px solid transparent;
}
.content-header ul li a:hover {
  transition: 0.3s;
  border-color: #5094f2;
}

@media (max-width: 992px) {
  header {
    display: none;
  }
}
@media (max-width: 768px) {
  header {
    display: none;
  }
}
@media (max-width: 576px) {
  header {
    display: none;
  }
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .phone img {
  padding-top: 40px;
  padding-bottom: 10px;
  padding-right: 120px;
}
.banner .banner_text {
  color: white;
}
.banner .banner_text p {
  color: white;
}
.banner .banner_text .banner_btn {
  margin: 20px 0 40px 0;
}
.banner .banner_text .banner_btn button {
  background-color: #5094f2;
  color: white;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
  transition-duration: 0.4s;
  display: flex;
  align-items: center;
  height: 30px;
}
.banner .banner_text .banner_btn button:hover {
  background-color: #5054f2;
  color: white;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
  display: flex;
  align-items: center;
  height: 30px;
}
.banner .banner_text .banner_btn button .banner-btn_img {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}
.banner .banner_text .banner_btn button span {
  padding: 10px;
}
.banner .banner_text .banner_btn button span a {
  text-decoration: none;
  color: white;
}

@media (max-width: 992px) {
  .banner {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .banner {
    flex-direction: column;
  }
}
.about {
  background-color: white;
}
.about .about_items {
  display: flex;
  align-content: center;
}
.about .about_items .about-item_image img {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 25px;
  width: 150px;
  height: auto;
}
.about .about_items .about-item_zagolovok h2 {
  text-align: center;
  color: #5094f2;
}
.about .about_items .about-item_text p {
  text-align: center;
  padding-bottom: 50px;
  color: #909090;
}

@media (max-width: 992px) {
  .about_items {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .about_items {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .about_items {
    flex-direction: column;
  }
}
.cart_block .cart_zagolovok h2, .cart_block h3 {
  color: #6f7173;
  font-family: "Open Sans", sans-serif;
}
.cart_block .cart_content {
  margin: 20px 0;
}
.cart_block .cart_content .cart_items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.cart_block .cart_content .cart_items .cart_item .cart_image {
  padding-top: 50px;
  padding-bottom: 25px;
  width: 240px;
}
.cart_block .cart_content .cart_items .cart_item .cart_about {
  padding-right: 60px;
}
.cart_block .cart_content .cart_items .cart_item .cart_about .cart-about_text {
  padding-top: 20px;
}
.cart_block .cart_content .cart_items .cart_item .cart_about p {
  padding: 10px 0;
}

@media (max-width: 992px) {
  .cart_items {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .cart_items {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .cart_items {
    flex-direction: column;
  }
}
footer {
  border-top: #909090 solid 1px;
}
footer .container {
  height: 50px;
}
footer .container .copyright {
  margin-top: 25px;
  text-align: center;
}
footer .container .copyright h3 {
  color: #6f7173;
  font-family: "Open Sans", sans-serif;
}

/*# sourceMappingURL=style.css.map */
