/* Error: Expected identifier.
 *   ,
 * 1 | $
 *   |  ^
 *   '
 *   scss/common/variables.scss 1:2  @import
 *   scss/common/index.scss 2:9      @import
 *   scss/index.scss 2:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a   \2577 \a 1 \2502  $\a   \2502   ^\a   \2575 \a   scss/common/variables.scss 1:2  @import\a   scss/common/index.scss 2:9      @import\a   scss/index.scss 2:9             root stylesheet";
}
