
footer {

  border-top: #909090 solid 1px;


  .container {
    height: 50px;


    .copyright {
      margin-top: 25px;
      text-align: center;

      h3 {
        color: #6f7173;
        font-family: 'Open Sans', sans-serif;
      }

    }
  }


}



