@media (max-width:992px ) {

  .about_items {
    flex-direction: column;
  }

}

@media (max-width:768px ) {

  .about_items {
    flex-direction: column;
  }

}

@media (max-width:576px ) {

  .about_items {
    flex-direction: column;
  }

}