@media (max-width:992px ) {

  header {
    display: none;

  }

}

@media (max-width:768px ) {

  header {
    display: none;

  }

}

@media (max-width:576px ) {

  header {
    display: none;

  }

}